{% extends 'base.html' %}

{% block content %}
    <div class="row mt-4 add">
        <div class="col">
            <h2>Add Item</h2>

            <form  action="add_todo/" method="post" class="form-inline">
                {% csrf_token %}
                <input type="text" name="content">
                <label>Type here</label>
                <button type="submit" class="plus">+</button>
            </form>

        </div>
    </div>

    <div class="row mt-4 content">
        <div class="col">
            <ul class="list-group">
                {% for item in todo_items %}
                    <li class="list-group-item">
                        {{ item.text }}

                        <div class="float-right">
                            <form action="delete_todo/{{item.id}}" method="post">
                                {% csrf_token %}

                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </div>

                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>

{% endblock content%}